<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.familring.userservice.model.dao.UserDao">

    <!-- 회원 정보 ResultMap -->
    <resultMap id="userInfo" type="com.familring.userservice.model.dto.UserDto">
        <result column="user_id" property="userId"/>
        <result column="user_kakao_id" property="userKakaoId"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_nickname" property="userNickname"/>
        <result column="user_birth_date" property="userBirthDate"/>
        <result column="user_zodiac_sign" property="userZodiacSign"/>
        <result column="user_role" property="userRole"/>
        <result column="user_face" property="userFace"/>
        <result column="user_color" property="userColor"/>
        <result column="user_emotion" property="userEmotion"/>
        <result column="user_fcm_token" property="userFcmToken"/>
        <result column="user_created_at" property="userCreatedAt"/>
        <result column="user_modified_at" property="userModifiedAt"/>
        <result column="user_is_deleted" property="userIsDeleted"/>
        <result column="user_is_admin" property="userIsAdmin"/>
    </resultMap>

    <select id="findByUserKakaoId" resultMap="userInfo">
        SELECT *
        FROM user
        WHERE user_kakao_id = #{userKakaoId}
    </select>

    <insert id="insertByUser" parameterType="com.familring.userservice.model.dto.UserDto">
        INSERT INTO user (
            user_kakao_id, user_password, user_nickname, user_birth_date,
            user_zodiac_sign, user_role, user_face, user_color,
            user_emotion, user_created_at, user_modified_at,
            user_is_deleted, user_is_admin
        ) VALUES (
                     #{userKakaoId}, #{userPassword}, #{userNickname}, #{userBirthDate},
                     #{userZodiacSign}, #{userRole}, #{userFace}, #{userColor},
                     #{userEmotion}, NOW(), NOW(),
                     #{userIsDeleted}, #{userIsAdmin}
                 )
    </insert>

    <update id="updateByUserFcmToken">
        UPDATE user
        SET user_fcm_token = #{fcmToken}
        WHERE user_kakao_id = #{userName}
    </update>
</mapper>