<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.familring.notificationservice.model.dao.NotificationDao">
    <resultMap id="notificationInfo" type="com.familring.notificationservice.model.dto.Notification">
        <result property="notificationId" column="notification_id" />
        <result property="receiverUserId" column="receiver_user_id" />
        <result property="senderUserId" column="sender_user_id" />
        <result property="notificationType" column="notification_type" />
        <result property="notificationTitle" column="notification_title" />
        <result property="notificationMessage" column="notification_message" />
        <result property="notificationIsRead" column="notification_is_read" />
        <result property="notificationCreatedAt" column="notification_created_at" />
        <result property="notificationReadAt" column="notification_read_at" />
    </resultMap>

    <select id="findAllByReceiverId" resultType="com.familring.notificationservice.model.dto.Notification">
        SELECT *
        FROM notification
        WHERE receiver_user_id = #{userId}
    </select>

</mapper>