<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.familring.familyservice.model.dao.FamilyDao">

    <!-- 가족 정보 ResultMap -->
    <resultMap id="familyInfo" type="com.familring.familyservice.model.dto.Family">
        <result column="family_id" property="familyId"/>
        <result column="family_code" property="familyCode"/>
        <result column="family_count" property="familyCount"/>
        <result column="family_communication_status" property="familyCommunicationStatus"/>
    </resultMap>

    <select id="findFamilyByFamilyId" resultMap="familyInfo">
        SELECT family_id, family_code, family_count, family_communication_status
        FROM family
        WHERE family_id = #{familyId}
    </select>

    <select id="findFamilyByUserId" resultMap="familyInfo">
        SELECT f.family_id, f.family_code, f.family_count, f.family_communication_status
        FROM family f
        JOIN family_user fu
            ON f.family_id = fu.family_id
        WHERE fu.user_id = #{userId}
    </select>

    <select id="findFamilyUserByUserId" resultType="java.lang.Long">
        SELECT fu.user_id
        FROM family_user fu
        JOIN family_user f
            ON f.family_id = fu.family_id
        WHERE f.user_id = #{userId}
    </select>

    <select id="findFamilyUserByFamilyId" resultType="java.lang.Long">
        SELECT user_id
        FROM family_user
        WHERE family_id = #{familyId}
    </select>

    <select id ="findFamilyByFamilyCode" resultMap="familyInfo">
        SELECT family_id, family_code, family_count, family_communication_status
        FROM family
        WHERE family_code = #{familyCode}
    </select>

    <select id="findLastInsertedFamilyId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="findFamilyId" resultType="java.lang.Long">
        SELECT family_id
        FROM family
    </select>

    <select id="countFamilyMembersByUserId" resultType="int">
        SELECT COUNT(*)
        FROM family_user
        WHERE family_id = (
            SELECT family_id
            FROM family_user
            WHERE user_id = #{userId}
            )
    </select>

    <select id="existsFamilyByFamilyCode" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM family
        WHERE family_code = #{code}
    </select>
    
    <select id="existsFamilyByFamilyIdAndUserId" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM family_user
        WHERE family_id = #{familyId} AND user_id = #{userId}
    </select>

    <insert id="insertFamily" parameterType="com.familring.familyservice.model.dto.request.FamilyCreateRequest">
        INSERT INTO family(family_code, family_count, family_communication_status, family_created_at)
        VALUES (#{familyCode}, 1, #{familyCommunicationStatus}, NOW())
    </insert>

    <insert id="insetFamily_User">
        INSERT INTO family_user(family_id, user_id)
        VALUES (#{familyId}, #{userId})
    </insert>

    <update id="updateFamilyCountByFamilyId">
        UPDATE family
        SET family_count = family_count + #{amount}
        WHERE family_id = #{familyId}
    </update>

    <update id="updateFamilyCommunicationStatusByFamilyId">
        UPDATE family
        SET family_communication_status = family_communication_status + #{amount}
        WHERE family_id = #{familyId}
    </update>

    <delete id="deleteFamily_UserByFamilyIdAndUserId">
        DELETE FROM family_user
        WHERE family_id = #{familyId} AND user_id = #{userId}
    </delete>
</mapper>